{% extends 'base.html' %}

{% block title %} Detail {% endblock %}

{% block content %}
<h2> {{ product.name }}</h2>
<ul>
    <li>
        Price: {{ product.price }}
        Stock: {{ product.stock }}
        {% if product.image %}
        Image: <img src="{{ product.image.url }}" alt="{{ product.name }}" width="70" height="70" class="d-inline-block align-top">
        {% else %}
        No image available.
        {% endif %}
        Description: {{ product.description }}
    </li>
</ul>
{% endblock %}